@font-face {
  font-family: "Coolvetica";
  src: url("//app/assets/fonts/coolveticaRg.ttf") format("ttf");
}
@font-face {
  font-family: "Poppins";
  src: url("//app/assets/fonts/Poppins-Regular.ttf") format("ttf");
}

body {
  margin: 0;
  background-color: #f2f4df;
  
}
html {
  margin-top : -3vh;
}

body,
p,
ol,
ul,
td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #f2f4df;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  text-decoration: none;
}

a:visited {
  color: #f6f1f1;
}

a:hover {
  color: rgb(252, 244, 207);
 

}

th {
  padding-bottom: 5px;
}

td {
  padding: 0;
}

div.field,
div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

label {
  display: block;
}

.images {
  width: 33%;
  position: absolute;
  display: flex;
  justify-content: center;

  img {
    height: 70vh;
    width: 70%;
    object-fit: cover;
    border-radius: 39px;
  }
}
.logo {
  width: 35vw;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3vh;
  margin-bottom: 12vh;
}
.post {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  width: 33%;
  height: 60vh;
  margin-bottom: 25vh;
}

.annonces {
  display: flex;

  flex-direction: row;
  flex-wrap: wrap;

  width: 100%;
  height: 100%;
}

.etiquette {
  z-index: 1;
  display: flex;
  align-items: center;
  background-color: #172316;
  border-radius: 39px;
  flex-direction: column;
  width: 70%;
  height: 28vh;
}

.etiquette-haut {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  width: 80%;
  margin-top: 3vh;
  justify-content: space-between;
 
}

.etiquette-titre {
  display: flex;
  align-items: flex-start;
  width: 50%;
  flex-direction: column;
  text-align: start;
  font-family: "Poppins";
  font-size: 23px;
  color: #f6f1f1;
}
.etiquettelocanom {
  display: flex;
  flex-direction: column;
  text-align: end;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-style: medium;
  color: #f6f1f1;
}

.etiquettelocanom .name {
  color: #c8d47a;
}
.new {
  position: absolute;
  
  top: 7vh;
  right: 7vh;
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 1vh;
    padding-bottom: 1.5vh;
    font-size: 30px;
  color: #f6f1f1;
  border-radius: 50%;
  background-color:  #e3401c;
}
}
.description {
  margin-top: 3vh;
  margin-left: 2vw;
  margin-right: 1.5vw;
  margin-bottom: 2vh;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-style: bold;
  color: #f6f1f1;
}

.button-show {


  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e3401c;
  border-radius: 39px;
  width: 20vh;
  height: 1vh;
  margin-left: 11vh;
  margin-right: 10vh;
  padding-top: 1vh;
  padding-bottom: 1vh;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-style: bold;
  color: #f6f1f1;
  text-decoration: none;
}

.field {
  background-color: #e3401c;
}



  

.box {
  background-image: image-url('page-13.png'); 
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}

h1{
  display: block;
  margin-left: 10vw;
margin-right: auto;
font-family: "Coolvetica";
font-size: 40px;
color: #172316;
margin-bottom: 8vh;
}

.zoneformulaire {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.colonne1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.colonne2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 50%;
}

.fieldlocalisation label {
  font-family: "Coolvetica";
  font-size: 20px;
  color: #172316;
  margin-bottom: 3vh;
}

.fieldlocalisation input {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40vh;
  height: 4vh;
  background-color: #f2f4df;
  border-width: 1px;
  border-color: #172316;
  border-radius: 39px;
  margin-bottom: 3vh
}

.fieldname label {
  font-family: "Coolvetica";
  font-size: 20px;
  color: #172316;
  margin-bottom: 3vh;
}

.fieldname input {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f4df;
  border-width: 1px;
  border-color: #172316;
  border-radius: 39px;
  width: 40vh;
  height: 4vh;
  margin-bottom: 3vh
}

.fieldimage label {
  font-family: "Coolvetica";
  font-size: 20px;
  color: #172316;
  margin-bottom: 3vh;

}

.fieldimage input {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f4df;
  border-width: 1px;
  border-color: #172316;
  border-radius: 39px;
  width: 40vh;
  height: 4vh;
  margin-bottom: 3vh
}

.fieldtitle label {
  font-family: "Coolvetica";
  font-size: 20px;
  color: #172316;
  margin-bottom: 3vh;
}

.fieldtitle input {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f4df;
  border-color: #172316;
  border-width: 1px;
  border-radius: 39px;
  width: 40vh;
  height: 4vh;
  margin-bottom: 3vh
}

.fielddescription label {
  font-family: "Coolvetica";
  font-size: 20px;
  color: #172316;
  margin-bottom: 3vh;
}

.fielddescription input {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f4df;
  border-color: #172316;
  border-width: 1px;
  border-radius: 23px;
  width: 40vh;
  height: 18vh;
  margin-bottom: 3vh
}

.actions input{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e3401c;
  border-radius: 39px;
  border-width: 0;
  width: 40vh;
  height: 4vh;
  margin-bottom: 3vh


}

.ContainerShow{
  width: 100vw;
  height: 100vh;
  background-color: #000;
  display: flex;
  justify-content: center;
  
}

.MiniContainer{
  width: 70vw;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
 background-size: 80%;
  background-image: image-url('pancarte-13.png');
  background-position: center;
  background-repeat: no-repeat;
  
}
  

.infosbox{
  display: flex;
  width: 35vw;
  height: 70vh;
  margin-right: 9vw;
  
}
.back {
  padding: 1vh;
  position: absolute;
  top: 6vh;
  left : 6vh; 
  font-size: 15px;
  background-color: #e3401c;
  border-radius: 20px;
  a:visited {
  color: #e3401c;

 
}
}
.infos{
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  margin-top: 6vh;
}

.titreshow{
  display: flex;
  justify-content: center;
  font-family: "Coolvetica";
  font-size: 50px;
  color: #172316;
  margin-bottom: 10vh;
  width: 100%;

}

.nameshow{
  display: flex;
  margin-left: 4vw;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 25px;
  color: #172316;
  margin-bottom: 1vh;
  width: 100%;

}

.localisationshow{
  display: flex;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-style: italic;
  font-size: 25px;
  color: #172316;
  margin-bottom: 10vh;
  width: 100%;
  margin-left: 4vw;

}

.descriptionshow{
  display: flex;
  justify-content: flex-end;
  font-family: "Poppins", sans-serif;
  font-weight: medium;
  line-height: 1.10;
  font-size: 30px;
  color: #172316;
  margin-bottom: 3vh;
  width: 90%;
  padding-left: 2vw;
  text-align: right;

}
